<div class="modal white-bg" id="init-modal">
  <div class="modal-content">
    <p class="title">别踩白块</p>
    <div class="modal-btn" id="classics-btn">经典</div>
    <div class="modal-btn" id="topspeed-btn">极速</div>
    <div class="modal-btn" id="history-btn">历史记录</div>
    <a href="https://github.com/QiShaoXuan/dont-touch-white" class="modal-btn">GITHUB --></a>
  </div>
</div>

<div class="modal dim-bg" id="score-modal" style="display: none;">
  <div class="modal-content">
    <p class="title">游戏结束</p>
    <p class="content">得分：<span id="score"></span></p>
    <p class="content">历史最高分：<span id="history-score"></span></p>
    <div class="modal-btn" id="topspeed-reset" data-modal="#score-modal">重新开始</div>
    <div class="modal-btn back-btn"  data-modal="#score-modal">返回首页</div>
  </div>
</div>

<div class="modal white-bg" id="coding-modal" style="display: none;">
  <div class="modal-content">
    <p class="title">正在开发 ...</p>
    <div class="modal-btn modal-close-btn" data-modal="#coding-modal">关闭</div>
  </div>
</div>

<div class="modal white-bg" id="history-modal" style="display: none;">
  <div class="modal-content">
    <p class="title">历史记录</p>
    <p class="content">极速模式：<span id="history-topspeed-score"></span></p>
    <p class="content">经典模式：<span id="history-classics-score">--</span></p>
    <div class="modal-btn back-btn"  data-modal="#history-modal">返回首页</div>
  </div>
</div>
